$black: #000000
$white: #F0F0F0
$blue: #021BF5
$orange: #FF4C01
$mint: #66D7C8

// Screen
@mixin mobile
  @media (max-width: 900px)
    @content

@mixin mobile-wide
  @media (min-width: 640px) and (max-width: 900px)
    @content

@mixin desktop
  @media (min-width: 901px)
    @content

// Flex
@mixin flex-row
  display: flex
  flex-flow: row nowrap

@mixin flex-column
  display: flex
  flex-flow: column nowrap

// Container
@mixin container
  position: relative
  width: 100%
  max-width: 1280px
  padding: 0 42px
  margin: 0 auto
  @include mobile
    max-width: 100%
    padding: 0 22px

// Typography
@mixin font-original
  font-family: 'neue-haas-grotesk-text', neue-haas-grotesk-text, sans-serif
  font-weight: 500
  letter-spacing: 0.02em
  word-spacing: -0.04em

@mixin font-supply
  font-family: 'Supply', Supply, monospace
  font-weight: 400
  letter-spacing: 0
  word-spacing: -0.28em
