$black: #2B2C2D
$white: #F0F0F0
$blue: #021BF5
$orange: #FF4C01
$mint: #66D7C8

*
  box-sizing: border-box

button
  cursor: pointer

section
  width: 100%
  article
    width: 100%
    max-width: 980px
    margin: 0 auto
    padding: 40px

.input-knob
  width: 1000px
  height: 1000px
  user-select: none
  outline: none

// Temp
span
  display: inline-block
  width: 100px

#nav-play
  font-size: 80px
  text-align: center

#progress-container
  width: 100%
  height: 30px
  border: solid 3px #000
  #progress-bar
    width: 0
    height: 100%
    background: #000

.control-container
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  margin: 20px 0
  button
    width: 200px
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    list-style: none
    font-style: normal
    word-break: keep-all
    text-decoration: none
    box-sizing: border-box
    vertical-align: baseline
    background-color: transparent

    padding: 12px
    border: solid 3px #000
    border-radius: 50px

.btn-container
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  button
    width: 200px
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    list-style: none
    font-style: normal
    word-break: keep-all
    text-decoration: none
    box-sizing: border-box
    vertical-align: baseline
    background-color: transparent

    padding: 36px 12px
    border: solid 3px #000
    border-radius: 50px
    background: $orange
    &.off
      background: $white
