@import "_mixins"

// Email
div.mail-input
  input
    width: 100%
    padding: 20px 22px
    margin-bottom: 22px
    @include font-supply
    font-size: 22px
    font-weight: 500
    color: $black
    background: #E4E4E4

// Checkbox
label.checkbox
  @include flex-row
  margin-bottom: 62px
  input#mail-checkbox
    display: none
    & + label
      width: 24px
      height: 24px
      border: solid 2px #E4E4E4
    &:checked + label
      background: $blue
  div.label-description
    font-size: 17px
    color: #E4E4E4
    padding: 1px 0 0 12px
    a
      color: #E4E4E4
      border-bottom: solid 2px #E4E4E4

// Button
div.ml-form-embedSubmit
  font-size: 26px
  line-height: 1
  text-align: center
  display: block
  width: 214px
  margin: 0 auto
  padding: 20px 48px
  border-radius: 26px
  background: $blue
  cursor: pointer
  @include mobile
    font-size: 17px
    padding: 13px 32px
    border-radius: 18px
  button
    @include font-supply
    text-align: center
    color: $white
    width: 100%
    height: 100%
    cursor: pointer

// Success
div.ml-form-successBody
  color: #E4E4E4
  text-align: center
  h4
    font-size: 17px
    margin-top: 16px
  p
    font-size: 13px
