doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='')
    title GOYO Voice Separator | De-noise, De-Reverb, De-Voice - All in One Plugin
    link(rel='apple-touch-icon', sizes='57x57', href='./assets/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='./assets/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='./assets/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='./assets/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='./assets/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='./assets/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='./assets/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='./assets/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='./assets/images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='./assets/images/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='./assets/images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='./assets/images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='./assets/images/favicon/favicon-16x16.png')
    link(rel='stylesheet' href='./assets/styles/common.css')
    link(rel='stylesheet' href='//use.typekit.net/ynw5mlv.css')
    script(src='//code.jquery.com/jquery-3.6.0.min.js')
    script(src='./assets/scripts/smooth-scroll.js')

  body
    // 모두 상대 경로로 바꾸었음

    // Header
    // include assets/static/header.pug
    header
      div.notification
        article
          p
            | GOYO for Mac now in Open Beta!
            br.only-m
            | Windows version Coming Soon :)
          div.close-noti-wrap
            button.close-noti
              img(src="./assets/images/header-btn-close.svg" alt="" width="100%")
      div.header-wrap
        a.logo-goyo(href='./' target='_self')
          img(src='./assets/images/logo-goyo-small-blue.svg' alt='')
        div
          a.how-to-use(href='./how-to-use' target='_self') HOW TO USE
          // a.updates(href='' target='_self') UPDATES
          a.get-goyo.button(href='./index.html#beta' target='') GET GOYO

    // Script
    script.
      document.querySelector('.close-noti').addEventListener("click", function() {
        document.querySelector('.notification').classList.add('closed');
      });


    // Main
    section.main
      article
        img.main-logo(src='./assets/images/logo-goyo-set-a.svg' alt='')
        p.main-logo-sub VOICE SEPARATOR
        img.main-plugin(src='./assets/images/goyo-plugin.png' alt='')
        p.main-plugin-sub <span class="only-pc">De-Noise. De-Reverb. De-Voice.</span><br>All in One Plugin
        img.main-poweredby(src='./assets/images/logo-poweredby-supertone.svg' alt='')
        a.get-goyo.button(href='./index.html#beta' target='') GET GOYO

    // How Goyo Works
    section.how-goyo-works
      article
        div.title
          h1 HOW GOYO WORKS
          p
            | Use GOYO to De-Noise, De-Reverb, and even De-Voice your audio.
            br.only-pc
            | We do this by separating audio into 3 channels for full control.

        div.how-player
          div.player-play
            div#btn-play
              img(src='./assets/images/btn-player-play.svg')
            div#btn-pause.hidden
              img(src='./assets/images/btn-player-pause.svg')
          div.player-nav
            div.player-nav-inner
              div#current-source SUBWAY STATION
              div#btn-prev
                img(src='./assets/images/btn-player-prev.svg')
              div#btn-next
                img(src='./assets/images/btn-player-next.svg')
            div#progress-bar

        div.how-track-graphic
          img(src='./assets/images/graphic-player-line.svg')

        div.how-track-wrap
          div#track-a.how-track
            div.how-track-inner
              p.name AMBIENCE
              button#btn-a.track ON
            p.info Everything other than the voice. A static hum, cars honking, music in the background, and everything in between.
          div#track-b.how-track
            div.how-track-inner
              p.name VOICE
              button#btn-b.track ON
            p.info The voice in its clearest form. The closest you will get to studio quality vocals.
          div#track-c.how-track
            div.how-track-inner
              p.name VOICE <br class="only-m">REVERB
              button#btn-c.track ON
            p.info The reverb, room sound, and other spatial artifacts associated with the voice. Useful in boomy spaces with lots of echo.

    // Banner
    section#banner.banner
      section#banner-graphic-separation
        article
          img.graphic-separation(src='./assets/images/graphic-separation.png')
      article
        img.logo(src='./assets/images/logo-goyo-b.svg')
        p.logo-sub All in One Plugin
        img.spectrum(src='./assets/images/graphic-spectrum.png')
        img.logo-powered(src='./assets/images/logo-poweredby-supertone.svg')
      div#background.bg.front
      div.bg.back

    // Beta
    section.beta#beta
      article
        p.p-1
          | SIGN UP FOR
          br.only-m
          | THE BETA
        p.p-2 FREE TO USE PLUGIN
        div.beta-mailerlite-wrap
          include assets/static/mailerlite.pug

    // SDK & Contact
    section.sdk-n-contact
      article
        div.sdk
          h1 SDK
          p Ultra-Light. Cross-Platform. Multi-Architecture.<br>Super Simple Integration.
          a.button COMING SOON
        div.contact
          h1 CONTACT
          p For all inquiries regarding GOYO,<br>please contact support@goyo.app
          a.button(href='mailto:support@goyo.app') support@goyo.app

    // Supertone
    section.supertone
      article
        img(src='./assets/images/logo-poweredby-supertone-2.svg')
        a.button(href='//supertone.ai' target='_blank') VISIT

    // Footer
    // include assets/static/footer.pug
    footer
      article
        div.footer-wrap
          div.footer-inner
            a(href='./license-agreement' target='_self') License Agreement
            a(href='./privacy-policy' target='_self') Privacy Policy
          div.footer-inner
            span © 2022 Supertone Inc, All Rights Reserved

  script(src='./assets/scripts/player.js')
  script.
    // Smooth Scroll
    $(document).ready( function() {
      $('a').smoothScroll();
    });

    // Banner
    let banner, bannerHeight, background, graphic, posFromTop, winH, transPercent;
    banner = document.getElementById('banner');
    background = document.getElementById('background');
    graphic = document.getElementById('banner-graphic-separation');

    window.addEventListener('scroll', function() {
      bannerHeight = banner.clientHeight;
      posFromTop = banner.getBoundingClientRect().top;
      winH = window.innerHeight;
      if (posFromTop < winH) {
        transPercent = (winH - posFromTop) * 100 / bannerHeight;
        background.style.width = transPercent + '%';
        // graphic.style.width = (100 - transPercent) + '%';
      };
    });