@font-face {
  font-family: "Supply";
  font-weight: 200;
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-UltraLight.woff2") format("woff2");
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-UltraLight.woff") format("woff");
}
@font-face {
  font-family: "Supply";
  font-weight: 400;
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-Regular.woff2") format("woff2");
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-Regular.woff") format("woff");
}
@font-face {
  font-family: "Supply";
  font-weight: 700;
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-Bold.woff2") format("woff2");
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  font-style: normal;
  word-break: keep-all;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: baseline;
  background-color: transparent;
}

img {
  display: block;
}

input:focus {
  outline: none;
}

a, a:hover, a:visited {
  color: #000000;
  cursor: pointer;
  user-select: none;
}

button {
  color: #000000;
  cursor: pointer;
  user-select: none;
}

body {
  background: #F0F0F0;
  font-family: "neue-haas-grotesk-text", neue-haas-grotesk-text, sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  word-spacing: -0.04em;
  line-height: 1.4;
  color: #000000;
  overflow-x: hidden;
}

.button {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 26px;
  line-height: 1;
  display: inline-block;
  padding: 20px 48px;
  border-radius: 26px;
}
@media (max-width: 900px) {
  .button {
    font-size: 17px;
    padding: 13px 32px;
    border-radius: 18px;
  }
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
}

@media (min-width: 901px) {
  .only-m {
    display: none;
  }
}

@media (max-width: 900px) {
  .only-pc {
    display: none;
  }
}

header {
  z-index: 1001;
  position: fixed;
  top: 0;
  width: 100%;
}
header div.notification {
  position: relative;
  width: 100%;
  height: 42px;
  background: #021BF5;
  transition: height 1s;
}
header div.notification.closed {
  height: 0;
  overflow: hidden;
}
header div.notification article {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 0 42px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  header div.notification article {
    max-width: 100%;
    padding: 0 22px;
  }
}
header div.notification article p {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  padding: 10px 22px 12px 22px;
  font-size: 14px;
  text-align: center;
  color: #F0F0F0;
}
header div.notification article div.close-noti-wrap {
  position: absolute;
  top: 0;
  right: 7px;
  display: flex;
  align-items: center;
  width: 26px;
  height: 100%;
}
header div.notification article button.close-noti {
  width: 26px;
  height: 26px;
  padding: 6px;
}
header div.header-wrap {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 0 42px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  header div.header-wrap {
    max-width: 100%;
    padding: 0 22px;
  }
}
header div.header-wrap a.logo-goyo {
  position: absolute;
  top: 24px;
  left: 22px;
  height: 30px;
}
header div.header-wrap a.logo-goyo img {
  height: 100%;
}
header div.header-wrap div {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 17px;
  right: 22px;
}
header div.header-wrap div a.how-to-use,
header div.header-wrap div a.updates {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 18px;
  color: #021BF5;
  line-height: 1;
  margin: 12px 32px 0 0;
}
header div.header-wrap div a.button {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 18px;
  line-height: 1;
  height: 43px;
  padding: 12px 28px;
  border-radius: 19px;
  color: #F0F0F0;
  background: #021BF5;
}
@media (max-width: 900px) {
  header div.notification {
    height: 62px;
  }
  header div.header-wrap a.logo-goyo {
    height: 28px;
  }
  header div.header-wrap div {
    display: none;
  }
}

footer article {
  width: 100%;
  height: 48px;
  margin: 48px 0;
  border-top: solid 1px #9FA6A8;
  border-bottom: solid 1px #9FA6A8;
}
footer article div.footer-wrap {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 0 42px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
}
@media (max-width: 900px) {
  footer article div.footer-wrap {
    max-width: 100%;
    padding: 0 22px;
  }
}
footer article div.footer-wrap div.footer-inner {
  width: 50%;
  padding: 12px 0px;
}
footer article div.footer-wrap div.footer-inner:nth-child(1) a {
  margin-right: 32px;
}
footer article div.footer-wrap div.footer-inner:nth-child(2) {
  text-align: right;
}

section {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
section article {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 0 42px;
  margin: 0 auto;
  padding: 84px 84px;
}
@media (max-width: 900px) {
  section article {
    max-width: 100%;
    padding: 0 22px;
  }
}
section article div.title {
  margin-bottom: 96px;
}
section article div.title h1 {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 60px;
  margin: 0 0 8px -2px;
}
section article div.title p {
  font-size: 22px;
}
@media (max-width: 900px) {
  section article {
    padding: 44px;
  }
  section article div.title {
    margin-bottom: 48px;
  }
  section article div.title h1 {
    font-size: 34px;
    margin-bottom: 6px;
  }
  section article div.title p {
    font-size: 12px;
  }
}

section.main article {
  padding-top: 158px;
  text-align: center;
}
section.main article img.main-logo {
  width: 198px;
  margin: 0 auto 16px auto;
}
section.main article p.main-logo-sub {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 44px;
  margin-bottom: 44px;
}
section.main article img.main-plugin {
  width: 716px;
  margin: 0 auto 60px auto;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}
section.main article p.main-plugin-sub {
  font-size: 32px;
  margin-bottom: 18px;
}
section.main article img.main-poweredby {
  width: 306px;
  margin: 0 auto 50px auto;
}
section.main article a.get-goyo.button {
  color: #F0F0F0;
  background: #021BF5;
}
@media (max-width: 900px) {
  section.main article {
    padding-top: 148px;
  }
  section.main article img.main-logo {
    width: 132px;
  }
  section.main article p.main-logo-sub {
    font-size: 27px;
    margin-bottom: 28px;
  }
  section.main article p.main-logo-sub::after {
    content: "De-Noise.De-Reverb.De-Voice.";
    display: block;
    font-family: "neue-haas-grotesk-text", neue-haas-grotesk-text, sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    word-spacing: -0.04em;
    font-size: 16px;
    margin-top: -2px;
  }
  section.main article img.main-plugin {
    width: calc(100% - 20px);
    margin: 0 10px 2px 10px;
  }
  section.main article p.main-plugin-sub {
    font-size: 16px;
    margin-bottom: 6px;
  }
  section.main article img.main-poweredby {
    width: 184px;
    margin-bottom: 32px;
  }
  section.main article a.get-goyo.button {
    margin-bottom: 32px;
  }
}

section.how-goyo-works {
  color: #F0F0F0;
  background: #262626;
}
section.how-goyo-works article div.how-player {
  display: flex;
  flex-flow: row nowrap;
  width: 904px;
  height: 76px;
  margin: 0 auto;
}
section.how-goyo-works article div.how-player div.player-play {
  width: 214px;
  height: 100%;
  background: #021BF5;
}
section.how-goyo-works article div.how-player div.player-play #btn-play, section.how-goyo-works article div.how-player div.player-play #btn-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
section.how-goyo-works article div.how-player div.player-play #btn-play img, section.how-goyo-works article div.how-player div.player-play #btn-pause img {
  width: 28px;
  height: 28px;
}
section.how-goyo-works article div.how-player div.player-play #btn-play.hidden, section.how-goyo-works article div.how-player div.player-play #btn-pause.hidden {
  display: none;
}
section.how-goyo-works article div.how-player div.player-play #btn-play.hidden img, section.how-goyo-works article div.how-player div.player-play #btn-pause.hidden img {
  display: none;
}
section.how-goyo-works article div.how-player div.player-nav {
  position: relative;
  width: 100%;
  height: 100%;
  border: solid 3px #021BF5;
}
section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #current-source {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 40px;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 5px;
}
section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-prev, section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  cursor: pointer;
}
section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-prev img, section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-next img {
  width: 20px;
  heigth: 26px;
}
section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-next {
  margin-right: 24px;
}
section.how-goyo-works article div.how-player div.player-nav #progress-bar {
  width: 0;
  height: 100%;
  background: #414141;
}
@media (max-width: 900px) {
  section.how-goyo-works article div.how-player {
    width: 100%;
  }
}
section.how-goyo-works article div.how-track-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 890px;
  margin: 26px auto 0 auto;
  text-align: center;
}
section.how-goyo-works article div.how-track-wrap div.how-track {
  width: 240px;
}
section.how-goyo-works article div.how-track-wrap div.how-track p.name {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 32px;
  font-weight: 700;
  color: #FF4C01;
  margin-bottom: 28px;
}
section.how-goyo-works article div.how-track-wrap div.how-track button.track {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 35px;
  width: 192px;
  height: 56px;
  margin-bottom: 34px;
  background: #FF4C01;
  border-radius: 18px;
}
section.how-goyo-works article div.how-track-wrap div.how-track p.info {
  font-size: 14px;
}
section.how-goyo-works article div.how-track-wrap div.how-track.off p.name, section.how-goyo-works article div.how-track-wrap div.how-track.off p.info {
  color: #414141;
}
section.how-goyo-works article div.how-track-wrap div.how-track.off button.track {
  color: #9F9F9F;
  background: #414141;
}
@media (max-width: 900px) {
  section.how-goyo-works article div.how-track-wrap {
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 36px);
    margin: 0 18px;
    text-align: left;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track {
    width: 100%;
    padding: 24px 0;
    border-bottom: solid 1px #021BF5;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track div.how-track-inner {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 12px;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track div.how-track-inner p.name {
    font-size: 24px;
    width: 100%;
    padding-top: 2px;
    margin: 0;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track div.how-track-inner button.track {
    font-size: 22px;
    width: 110px;
    min-width: 110px;
    height: 38px;
    border-radius: 18px;
    margin: 0;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track p.info {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track:last-child {
    padding-bottom: 10px;
    border-bottom: none;
  }
}
section.how-goyo-works article div.how-playerrrrrrr {
  margin: 86px 0;
  text-align: center;
}
section.how-goyo-works article div.how-playerrrrrrr div.nav {
  display: flex;
  flex-flow: row nowrap;
  width: 524px;
  height: 48px;
  margin: 0 auto 32px auto;
}
section.how-goyo-works article div.how-playerrrrrrr div.nav div.title {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 32px;
  width: 100%;
}
section.how-goyo-works article div.how-playerrrrrrr div.nav button {
  height: 100%;
  padding: 8px 12px;
}
section.how-goyo-works article div.how-playerrrrrrr div.nav button img {
  height: 100%;
}
section.how-goyo-works article div.how-playerrrrrrr button.btn-play {
  position: relative;
  width: 66px;
  height: 66px;
  border-radius: 26px;
  border: solid 3px #F0F0F0;
}
section.how-goyo-works article div.how-playerrrrrrr button.btn-play img {
  position: absolute;
}
section.how-goyo-works article div.how-playerrrrrrr button.btn-play img.play {
  top: 18px;
  left: 19px;
  height: 24px;
}
section.how-goyo-works article div.how-playerrrrrrr button.btn-play img.pause {
  top: 19px;
  left: 19px;
  height: 22px;
}
section.how-goyo-works article div.how-channels {
  display: flex;
  flex-flow: row nowrap;
}
section.how-goyo-works article div.how-channels div.channel {
  width: 33.3%;
  text-align: center;
}
section.how-goyo-works article div.how-channels div.channel:nth-child(2) {
  margin: 0 56px;
}
section.how-goyo-works article div.how-channels div.channel button.channel-btn {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 16px;
  background: #FF4C01;
}
section.how-goyo-works article div.how-channels div.channel button.channel-btn span.channel-btn-light {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #F0F0F0;
}
section.how-goyo-works article div.how-channels div.channel button.channel-btn.off {
  background: #363636;
}
section.how-goyo-works article div.how-channels div.channel button.channel-btn.off span.channel-btn-light {
  background: #151515;
}
section.how-goyo-works article div.how-channels div.channel h3 {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 32px;
  margin: 26px 0 24px 0;
}
section.banner {
  height: 1030px;
}
section.banner section#banner-graphic-separation {
  z-index: 3;
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
section.banner section#banner-graphic-separation article {
  padding: 0;
}
section.banner section#banner-graphic-separation article img.graphic-separation {
  height: 520px;
  margin-left: calc(-1898px + 50%);
}
section.banner article {
  z-index: 2;
  height: 100%;
}
section.banner article img.logo {
  position: absolute;
  top: 102px;
  left: calc(50% - 153px);
  width: 306px;
}
section.banner article p.logo-sub {
  position: absolute;
  top: 170px;
  left: calc(50% - 200px);
  width: 400px;
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 36px;
  text-align: center;
}
section.banner article img.spectrum {
  position: absolute;
  top: 286px;
  left: calc(50% - 750px);
  width: 1500px;
}
section.banner article img.logo-powered {
  position: absolute;
  bottom: 106px;
  left: calc(50% - 157px);
  width: 314px;
}
section.banner div.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.banner div.bg.front {
  z-index: 1;
  background: #66D7C8;
}
section.banner div.bg.back {
  z-index: 0;
  background: #FF4C01;
}
section.banner #background {
  width: 0;
}

section.beta {
  background: #262626;
}
section.beta article {
  padding: 130px 0;
}
section.beta article p.p-1, section.beta article p.p-2 {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 60px;
  line-height: 1.3;
  text-align: center;
  color: #F0F0F0;
}
section.beta article p.p-2 {
  color: #FF4C01;
  margin-bottom: 42px;
}
section.beta article div.beta-mailerlite-wrap {
  width: 700px;
  margin: 0 auto;
}

section.sdk-n-contact article {
  text-align: center;
  padding: 90px 0 120px 0;
}
section.sdk-n-contact article div h1 {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 48px;
  margin-bottom: 20px;
}
section.sdk-n-contact article div p {
  font-size: 18px;
  margin-bottom: 38px;
}
section.sdk-n-contact article div.sdk {
  margin-bottom: 120px;
}
section.sdk-n-contact article div.sdk a.button {
  background: #021BF5;
  color: #F0F0F0;
}
section.sdk-n-contact article div.contact a.button {
  height: 66px;
  padding-top: 17px;
  background: #66D7C8;
}

section.supertone {
  background: #021BF5;
}
section.supertone article {
  text-align: center;
  padding: 86px 0 100px 0;
}
section.supertone article img {
  width: 306px;
  margin: 0 auto 58px auto;
}
section.supertone article a.button {
  width: 280px;
  color: #000000;
  background: #F0F0F0;
}

section.document article div.page-title {
  text-align: center;
  margin-bottom: 80px;
}
section.document article div.page-title h1 {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 40px;
}
section.document article div.page-title p {
  color: #FF4C01;
  margin-top: 4px;
}
section.document article div.content {
  max-width: 720px;
  margin: 0 auto;
}
section.document article div.content h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 48px 0 22px 0;
}
section.document article div.content ul li {
  list-style-type: disc;
  margin-left: 13px;
}
section.document article div.content p, section.document article div.content li {
  margin-bottom: 18px;
}
section.document article div.content p.divider {
  width: 100%;
  height: 2px;
  background: #D3D3D3;
}