@font-face {
  font-family: "Supply";
  font-weight: 200;
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-UltraLight.woff2") format("woff2");
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-UltraLight.woff") format("woff");
}
@font-face {
  font-family: "Supply";
  font-weight: 400;
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-Regular.woff2") format("woff2");
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-Regular.woff") format("woff");
}
@font-face {
  font-family: "Supply";
  font-weight: 700;
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-Bold.woff2") format("woff2");
  src: url("https://dan-supertone.github.io/goyo-wip/assets/fonts/Supply-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  font-style: normal;
  word-break: keep-all;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: baseline;
  background-color: transparent;
}

img {
  display: block;
}

input:focus {
  outline: none;
}

a, a:hover, a:visited {
  color: #000000;
  cursor: pointer;
  user-select: none;
}

button {
  color: #000000;
  cursor: pointer;
  user-select: none;
}

body {
  background: #F0F0F0;
  font-family: "neue-haas-grotesk-text", neue-haas-grotesk-text, sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  word-spacing: -0.04em;
  line-height: 1.4;
  color: #000000;
  overflow-x: hidden;
}

.button {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 26px;
  line-height: 1;
  display: inline-block;
  height: 72px;
  padding: 22px 52px;
  border-radius: 30px;
}
@media (max-width: 900px) {
  .button {
    font-size: 24px;
    width: 280px;
    height: 58px;
    padding: 16px;
    border-radius: 24px;
  }
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
}

@media (min-width: 901px) {
  .only-m {
    display: none;
  }
}

@media (max-width: 900px) {
  .only-pc {
    display: none;
  }
}

header {
  z-index: 1001;
  position: fixed;
  top: 0;
  width: 100%;
}
header div.notification {
  position: relative;
  width: 100%;
  height: 42px;
  background: #021BF5;
  transition: height 1s;
}
header div.notification.closed {
  height: 0;
  overflow: hidden;
}
header div.notification article {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 0 42px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  header div.notification article {
    max-width: 100%;
    padding: 0 22px;
  }
}
header div.notification article p {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  padding: 10px 22px 12px 22px;
  font-size: 14px;
  text-align: center;
  color: #F0F0F0;
}
header div.notification article div.close-noti-wrap {
  position: absolute;
  top: 0;
  right: 7px;
  display: flex;
  align-items: center;
  width: 26px;
  height: 100%;
}
header div.notification article button.close-noti {
  width: 26px;
  height: 26px;
  padding: 6px;
}
header div.header-wrap {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 0 42px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  header div.header-wrap {
    max-width: 100%;
    padding: 0 22px;
  }
}
header div.header-wrap a.logo-goyo {
  position: absolute;
  top: 24px;
  left: 22px;
  height: 30px;
}
header div.header-wrap a.logo-goyo img {
  height: 100%;
}
header div.header-wrap div {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 17px;
  right: 22px;
}
header div.header-wrap div a.how-to-use,
header div.header-wrap div a.updates {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 18px;
  color: #021BF5;
  line-height: 1;
  margin: 12px 32px 0 0;
}
header div.header-wrap div a.button {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 18px;
  line-height: 1;
  height: 43px;
  padding: 12px 28px;
  border-radius: 19px;
  color: #F0F0F0;
  background: #021BF5;
}
header div.header-wrap div.nav-mobile {
  display: none;
}
@media (max-width: 900px) {
  header div.notification {
    height: 62px;
  }
  header div.header-wrap a.logo-goyo {
    height: 28px;
  }
  header div.header-wrap div {
    display: none;
  }
  header div.header-wrap div.nav-mobile {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 22px;
    right: 22px;
  }
  header div.header-wrap div.nav-mobile a {
    font-size: 16px;
    margin: 0;
  }
  header div.header-wrap div.nav-mobile a.how-to-use {
    margin: 7px 14px 0 0;
  }
  header div.header-wrap div.nav-mobile a.get-goyo {
    width: 32px;
    height: 32px;
    border-radius: 12px;
    background: #021BF5;
    padding: 7px;
  }
  header div.header-wrap div.nav-mobile a.get-goyo img {
    width: 100%;
  }
}

footer article {
  width: 100%;
  height: 48px;
  margin: 48px 0;
  border-top: solid 1px #9FA6A8;
  border-bottom: solid 1px #9FA6A8;
}
footer article div.footer-wrap {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 0 42px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
}
@media (max-width: 900px) {
  footer article div.footer-wrap {
    max-width: 100%;
    padding: 0 22px;
  }
}
footer article div.footer-wrap div.footer-inner {
  width: 50%;
  padding: 12px 0px;
}
footer article div.footer-wrap div.footer-inner:nth-child(1) a {
  margin-right: 32px;
}
footer article div.footer-wrap div.footer-inner:nth-child(2) {
  text-align: right;
}
@media (max-width: 900px) {
  footer article {
    height: auto;
    margin: 38px 0;
    font-size: 13px;
  }
  footer article div.footer-wrap {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
  }
  footer article div.footer-wrap div.footer-inner {
    width: 100%;
    height: 38px;
    padding: 10px 22px;
  }
  footer article div.footer-wrap div.footer-inner:nth-child(1) {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: solid 1px #9FA6A8;
  }
  footer article div.footer-wrap div.footer-inner:nth-child(1) a {
    margin: 0;
  }
  footer article div.footer-wrap div.footer-inner:nth-child(1) a:nth-child(1) {
    margin-right: 22px;
  }
  footer article div.footer-wrap div.footer-inner:nth-child(1) a:nth-child(2) {
    text-align: right;
  }
  footer article div.footer-wrap div.footer-inner:nth-child(2) {
    text-align: left;
    margin-left: -1px;
  }
}

section {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
section article {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 0 42px;
  margin: 0 auto;
  padding: 84px 84px;
}
@media (max-width: 900px) {
  section article {
    max-width: 100%;
    padding: 0 22px;
  }
}
section article div.title {
  margin-bottom: 96px;
}
section article div.title h1 {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 60px;
  margin: 0 0 8px -2px;
}
section article div.title p {
  font-size: 22px;
}
@media (max-width: 900px) {
  section article {
    padding: 44px;
  }
  section article div.title {
    margin-bottom: 48px;
  }
  section article div.title h1 {
    font-size: 34px;
    margin-bottom: 6px;
  }
  section article div.title p {
    font-size: 12px;
  }
}

section.main article {
  padding-top: 158px;
  text-align: center;
}
section.main article img.main-logo {
  width: 198px;
  margin: 0 auto 16px auto;
}
section.main article p.main-logo-sub {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 44px;
  margin-bottom: 44px;
}
section.main article img.main-plugin {
  width: 716px;
  margin: 0 auto 60px auto;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}
section.main article p.main-plugin-sub {
  font-size: 32px;
  margin-bottom: 18px;
}
section.main article img.main-poweredby {
  width: 306px;
  margin: 0 auto 50px auto;
}
section.main article a.get-goyo.button {
  color: #F0F0F0;
  background: #021BF5;
}
section.main div.main-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section.main div.main-bg img.main-bg-inner {
  position: absolute;
  top: 230px;
  left: calc(50% - 840px);
  width: auto;
  height: 940px;
}
@media (min-width: 901px) {
  section.main div.main-bg img.main-bg-inner:nth-child(1) {
    animation: main-p-t 2s ease 1s forwards;
  }
}
@media (max-width: 900px) {
  section.main div.main-bg img.main-bg-inner:nth-child(1) {
    animation: main-m-t 2s ease 1s forwards;
  }
}
section.main div.main-bg img.main-bg-inner:nth-child(3) {
  z-index: -2;
}
@media (min-width: 901px) {
  section.main div.main-bg img.main-bg-inner:nth-child(3) {
    animation: main-p-b 2s ease 1s forwards;
  }
}
@media (max-width: 900px) {
  section.main div.main-bg img.main-bg-inner:nth-child(3) {
    animation: main-m-b 2s ease 1s forwards;
  }
}
@media (max-width: 900px) {
  section.main div.main-bg img.main-bg-inner {
    top: 296px;
    left: calc(50% - 410px);
    height: 424px;
  }
}
@media (min-width: 640px) and (max-width: 900px) {
  section.main div.main-bg img.main-bg-inner {
    top: 296px;
    left: calc(50% - 580px);
    height: 600px;
  }
}
@media (max-width: 900px) {
  section.main article {
    padding-top: 148px;
  }
  section.main article img.main-logo {
    width: 132px;
  }
  section.main article p.main-logo-sub {
    font-size: 27px;
    margin-bottom: 28px;
  }
  section.main article p.main-logo-sub::after {
    content: "De-Noise.De-Reverb.De-Voice.";
    display: block;
    font-family: "neue-haas-grotesk-text", neue-haas-grotesk-text, sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    word-spacing: -0.04em;
    font-size: 16px;
    margin-top: -2px;
  }
  section.main article img.main-plugin {
    width: calc(100% - 20px);
    margin: 0 10px 2px 10px;
  }
  section.main article p.main-plugin-sub {
    font-size: 16px;
    margin-bottom: 6px;
  }
  section.main article img.main-poweredby {
    width: 184px;
    margin-bottom: 32px;
  }
  section.main article a.get-goyo.button {
    width: 200px;
    margin-bottom: 32px;
  }
}

@keyframes main-p-t {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }
  100% {
    transform: translateY(-50px);
    opacity: 50%;
  }
}
@keyframes main-p-b {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }
  100% {
    transform: translateY(50px);
    opacity: 50%;
  }
}
@keyframes main-m-t {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }
  100% {
    transform: translateY(-20px);
    opacity: 50%;
  }
}
@keyframes main-m-b {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }
  100% {
    transform: translateY(20px);
    opacity: 50%;
  }
}
section.how-goyo-works {
  color: #F0F0F0;
  background: #262626;
}
section.how-goyo-works article {
  padding-bottom: 92px;
}
section.how-goyo-works article div.how-player {
  display: flex;
  flex-flow: row nowrap;
  width: 904px;
  height: 76px;
  margin: 0 auto;
}
section.how-goyo-works article div.how-player div.player-play {
  position: relative;
  width: 214px;
  height: 100%;
  background: #021BF5;
}
section.how-goyo-works article div.how-player div.player-play #btn-play, section.how-goyo-works article div.how-player div.player-play #btn-pause {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
section.how-goyo-works article div.how-player div.player-play #btn-play img, section.how-goyo-works article div.how-player div.player-play #btn-pause img {
  width: 28px;
  height: 28px;
}
section.how-goyo-works article div.how-player div.player-play #btn-play.hidden, section.how-goyo-works article div.how-player div.player-play #btn-pause.hidden {
  display: none;
}
section.how-goyo-works article div.how-player div.player-play #btn-play.hidden img, section.how-goyo-works article div.how-player div.player-play #btn-pause.hidden img {
  display: none;
}
section.how-goyo-works article div.how-player div.player-nav {
  position: relative;
  width: 100%;
  height: 100%;
  border: solid 3px #021BF5;
}
section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #current-source {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 40px;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 5px;
}
section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-prev, section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  cursor: pointer;
}
section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-prev img, section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-next img {
  width: 20px;
  heigth: 26px;
}
section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-next {
  margin-right: 24px;
}
section.how-goyo-works article div.how-player div.player-nav #progress-bar {
  width: 0;
  height: 100%;
  background: #414141;
}
@media (max-width: 900px) {
  section.how-goyo-works article div.title {
    margin-bottom: 80px;
  }
  section.how-goyo-works article div.how-player {
    position: relative;
    width: 100%;
    height: 44px;
  }
  section.how-goyo-works article div.how-player div.player-play {
    position: absolute;
    top: -41px;
    left: 0;
    width: 50%;
    height: 44px;
  }
  section.how-goyo-works article div.how-player div.player-play #btn-play img, section.how-goyo-works article div.how-player div.player-play #btn-pause img {
    width: 18px;
    height: 18px;
  }
  section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner {
    position: absolute;
    top: -41px;
    right: 0;
    width: 100%;
    height: 41px;
  }
  section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #current-source {
    position: absolute;
    top: 41px;
    padding-top: 2px;
    font-size: 23px;
  }
  section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-prev, section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-next {
    position: absolute;
    top: -3px;
    width: calc(25% + 3px);
    height: 41px;
  }
  section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-prev img, section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-next img {
    width: 12px;
    height: 18px;
  }
  section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-prev {
    right: 25%;
    padding-left: 14px;
    border-top: solid 3px #021BF5;
  }
  section.how-goyo-works article div.how-player div.player-nav div.player-nav-inner #btn-next {
    right: -3px;
    padding-right: 14px;
    margin: 0;
    border-top: solid 3px #021BF5;
    border-right: solid 3px #021BF5;
  }
}
section.how-goyo-works article div.how-track-graphic {
  width: 890px;
  padding: 0 120px;
  margin: 0 auto 26px auto;
}
section.how-goyo-works article div.how-track-graphic img {
  width: 100%;
}
@media (max-width: 900px) {
  section.how-goyo-works article div.how-track-graphic {
    display: none;
  }
}
section.how-goyo-works article div.how-track-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 890px;
  margin: 26px auto 0 auto;
  text-align: center;
}
section.how-goyo-works article div.how-track-wrap div.how-track {
  width: 240px;
}
section.how-goyo-works article div.how-track-wrap div.how-track p.name {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 32px;
  font-weight: 700;
  color: #FF4C01;
  margin-bottom: 28px;
}
section.how-goyo-works article div.how-track-wrap div.how-track button.track {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 35px;
  width: 192px;
  height: 56px;
  margin-bottom: 34px;
  background: #FF4C01;
  border-radius: 18px;
}
section.how-goyo-works article div.how-track-wrap div.how-track p.info {
  font-size: 14px;
}
section.how-goyo-works article div.how-track-wrap div.how-track.off p.name, section.how-goyo-works article div.how-track-wrap div.how-track.off p.info {
  color: #414141;
}
section.how-goyo-works article div.how-track-wrap div.how-track.off button.track {
  color: #9F9F9F;
  background: #414141;
}
@media (max-width: 900px) {
  section.how-goyo-works article div.how-track-wrap {
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 36px);
    padding-top: 8px;
    margin: 0 18px;
    text-align: left;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track {
    width: 100%;
    padding: 24px 0;
    border-bottom: solid 1px #021BF5;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track div.how-track-inner {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 12px;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track div.how-track-inner p.name {
    font-size: 24px;
    width: 100%;
    padding-top: 2px;
    margin: 0;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track div.how-track-inner button.track {
    font-size: 22px;
    width: 110px;
    min-width: 110px;
    height: 40px;
    border-radius: 18px;
    margin: 0;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track#track-c div.how-track-inner p.name {
    line-height: 1;
    margin-top: -7px;
    margin-bottom: -5px;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track p.info {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
  }
  section.how-goyo-works article div.how-track-wrap div.how-track:last-child {
    padding-bottom: 10px;
    border-bottom: none;
  }
}

section.banner {
  height: 1030px;
}
@media (max-width: 900px) {
  section.banner {
    height: 570px;
  }
}
section.banner section#banner-graphic-separation {
  z-index: 3;
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
section.banner section#banner-graphic-separation article {
  padding: 0;
}
section.banner section#banner-graphic-separation article img.graphic-separation {
  height: 520px;
  margin-left: calc(-1898px + 50%);
}
@media (max-width: 900px) {
  section.banner section#banner-graphic-separation {
    top: 190px;
  }
  section.banner section#banner-graphic-separation article img.graphic-separation {
    height: 238px;
    margin-left: calc(-869px + 50%);
  }
}
section.banner article {
  z-index: 2;
  height: 100%;
}
section.banner article img.logo {
  position: absolute;
  top: 102px;
  left: calc(50% - 153px);
  width: 306px;
}
@media (max-width: 900px) {
  section.banner article img.logo {
    top: 70px;
    width: 176px;
    left: calc(50% - 88px);
  }
}
section.banner article p.logo-sub {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 36px;
  text-align: center;
  position: absolute;
  top: 178px;
  left: calc(50% - 200px);
  width: 400px;
}
@media (max-width: 900px) {
  section.banner article p.logo-sub {
    top: 112px;
    font-size: 20px;
  }
}
section.banner article img.spectrum {
  position: absolute;
  top: 286px;
  left: calc(50% - 750px);
  width: 1500px;
}
@media (max-width: 900px) {
  section.banner article img.spectrum {
    top: 162px;
    left: calc(50% - 400px);
    width: 800px;
  }
}
section.banner article img.logo-powered {
  position: absolute;
  bottom: 106px;
  left: calc(50% - 157px);
  width: 314px;
}
@media (max-width: 900px) {
  section.banner article img.logo-powered {
    bottom: 68px;
    left: calc(50% - 85px);
    width: 170px;
  }
}
section.banner div.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.banner div.bg.front {
  z-index: 1;
  background: #66D7C8;
}
section.banner div.bg.back {
  z-index: 0;
  background: #FF4C01;
}
section.banner #background {
  width: 0;
  margin-left: calc(-40% + 400px);
}
@media (max-width: 900px) {
  section.banner #background {
    margin-left: calc(-60% - 200px);
  }
}

section.beta {
  background: #262626;
}
section.beta article {
  padding: 130px 0;
}
section.beta article p.p-1, section.beta article p.p-2 {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 60px;
  line-height: 1.3;
  text-align: center;
  color: #F0F0F0;
}
section.beta article p.p-2 {
  color: #FF4C01;
  margin-bottom: 42px;
}
section.beta article div.beta-mailerlite-wrap {
  width: 700px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  section.beta article {
    padding: 72px 0;
  }
  section.beta article p.p-1, section.beta article p.p-2 {
    font-size: 30px;
  }
  section.beta article p.p-2 {
    margin-bottom: 38px;
  }
  section.beta article div.beta-mailerlite-wrap {
    width: 308px;
  }
}

section.sdk-n-contact article {
  text-align: center;
  padding: 90px 0 120px 0;
}
section.sdk-n-contact article div h1 {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 48px;
  margin-bottom: 20px;
}
section.sdk-n-contact article div p {
  font-size: 18px;
  margin-bottom: 38px;
}
section.sdk-n-contact article div.sdk {
  margin-bottom: 120px;
}
section.sdk-n-contact article div.sdk a.button {
  padding-top: 19px;
  border: solid 3px #021BF5;
  color: #808080;
  cursor: default;
}
section.sdk-n-contact article div.contact a.button {
  background: #66D7C8;
}
@media (max-width: 900px) {
  section.sdk-n-contact article {
    padding: 78px 0 110px 0;
  }
  section.sdk-n-contact article div h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  section.sdk-n-contact article div p {
    font-size: 14px;
    margin-bottom: 24px;
  }
  section.sdk-n-contact article div.sdk {
    margin-bottom: 96px;
  }
  section.sdk-n-contact article div.sdk a.button {
    padding-top: 13px;
  }
  section.sdk-n-contact article div.contact a.button {
    font-size: 20px;
    padding-top: 17px;
  }
}

section.supertone {
  background: #021BF5;
}
section.supertone article {
  text-align: center;
  padding: 86px 0 100px 0;
}
section.supertone article img {
  width: 306px;
  margin: 0 auto 58px auto;
}
section.supertone article a.button {
  width: 280px;
  color: #000000;
  background: #F0F0F0;
}
@media (max-width: 900px) {
  section.supertone article {
    padding: 68px 0 90px 0;
  }
  section.supertone article img {
    width: 200px;
    margin-bottom: 45px;
  }
}

section.document article {
  padding-top: 120px;
}
section.document article div.page-title {
  text-align: center;
  margin-bottom: 80px;
}
section.document article div.page-title h1 {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 40px;
}
section.document article div.page-title p {
  color: #FF4C01;
  margin-top: 4px;
}
section.document article div.content {
  max-width: 720px;
  margin: 0 auto;
}
section.document article div.content h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 48px 0 22px 0;
}
section.document article div.content h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 28px 0 16px 0;
  color: #FF4C01;
}
section.document article div.content ul li {
  list-style-type: disc;
  margin-left: 13px;
}
section.document article div.content p, section.document article div.content li {
  margin-bottom: 18px;
}
section.document article div.content p.divider {
  width: 100%;
  height: 2px;
  background: #D3D3D3;
}
section.document article div.content a {
  color: #FF4C01;
}
@media (max-width: 900px) {
  section.document article {
    padding-top: 152px;
  }
  section.document article div.page-title {
    margin-bottom: 52px;
  }
  section.document article div.page-title h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 12px;
  }
  section.document article div.page-title p {
    font-size: 13px;
  }
  section.document article div.content {
    font-size: 13px;
    max-width: 100%;
  }
  section.document article div.content h3 {
    font-size: 21px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  section.document article div.content h4 {
    font-size: 16px;
    margin: 24px 0 12px 0;
  }
  section.document article div.content p, section.document article div.content li {
    margin-bottom: 14px;
  }
  section.document article div.content p.divider {
    margin: 22px 0;
  }
}

section.how-to-use article div.content h3 {
  font-size: 28px;
  margin-bottom: 32px;
}
section.how-to-use article div.content p.divider {
  margin-top: 54px;
}
section.how-to-use article div.content img {
  max-width: 100%;
  margin: 0 auto;
}
section.how-to-use article div.content img.plugin {
  width: 500px;
  margin: 0 auto 48px auto;
}
section.how-to-use article div.content img.detail-1 {
  width: 360px;
  margin-bottom: 34px;
}
section.how-to-use article div.content img.detail-2 {
  width: 180px;
  margin-top: -4px;
  margin-bottom: 48px;
}
section.how-to-use article div.content img.detail-3 {
  width: 240px;
  margin-bottom: 34px;
}
@media (max-width: 900px) {
  section.how-to-use article div.content h3 {
    font-size: 24px;
  }
  section.how-to-use article div.content p.divider {
    margin-top: 48px;
  }
  section.how-to-use article div.content img.detail-1 {
    width: 260px;
  }
  section.how-to-use article div.content img.detail-2 {
    width: 140px;
    margin-top: -2px;
  }
  section.how-to-use article div.content img.detail-3 {
    width: 160px;
  }
}

section.send-feedback article {
  padding-top: 158px;
}