div.mail-input div.mail-input-wrap {
  width: 100%;
  height: 66px;
  margin-bottom: 22px;
  background: #E4E4E4;
}
div.mail-input div.mail-input-wrap input {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  font-size: 22px;
  font-weight: 500;
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 20px 22px;
  background: transparent;
}
@media (max-width: 900px) {
  div.mail-input div.mail-input-wrap {
    height: 42px;
    margin-bottom: 12px;
  }
  div.mail-input div.mail-input-wrap input {
    font-size: 16px;
    padding: 11px 14px;
  }
}

label.checkbox {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 62px;
}
@media (max-width: 900px) {
  label.checkbox {
    margin-bottom: 36px;
  }
}
label.checkbox input#mail-checkbox {
  display: none;
}
label.checkbox input#mail-checkbox + label {
  width: 24px;
  height: 24px;
  border: solid 2px #E4E4E4;
  cursor: pointer;
}
@media (max-width: 900px) {
  label.checkbox input#mail-checkbox + label {
    width: 18px;
    height: 18px;
  }
}
label.checkbox input#mail-checkbox:checked + label {
  background: url("../../assets/images/input-mailerlite-checkbox.svg");
  background-size: cover;
  background-position: center;
}
label.checkbox div.label-description {
  font-size: 17px;
  color: #E4E4E4;
  padding: 1px 0 0 12px;
}
label.checkbox div.label-description a {
  color: #E4E4E4;
  border-bottom: solid 2px #E4E4E4;
}
@media (max-width: 900px) {
  label.checkbox div.label-description {
    font-size: 11px;
    padding: 2px 0 0 8px;
  }
}

div.ml-form-embedSubmit {
  font-size: 26px;
  line-height: 1;
  text-align: center;
  display: block;
  width: 222px;
  height: 72px;
  margin: 0 auto;
  padding: 22px 0;
  border-radius: 30px;
  background: #021BF5;
  cursor: pointer;
}
@media (max-width: 900px) {
  div.ml-form-embedSubmit {
    font-size: 24px;
    width: 200px;
    height: 58px;
    padding: 16px;
    border-radius: 24px;
  }
}
div.ml-form-embedSubmit button {
  font-family: "Supply", Supply, monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.28em;
  line-height: 1;
  text-align: center;
  color: #F0F0F0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

div.ml-form-successBody {
  color: #E4E4E4;
  text-align: center;
}
div.ml-form-successBody h4 {
  font-size: 17px;
  margin-top: 16px;
}
div.ml-form-successBody p {
  font-size: 13px;
}
@media (max-width: 900px) {
  div.ml-form-successBody h4 {
    font-size: 15px;
    margin-top: 14px;
  }
  div.ml-form-successBody p {
    font-size: 10px;
  }
}