*
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  list-style: none
  font-style: normal
  word-break: keep-all
  text-decoration: none
  box-sizing: border-box
  vertical-align: baseline
  background-color: transparent

button
  cursor: pointer

div.goyo-wrap
  width: 800px
  height: 400px
  margin: 0 auto
  border: solid 3px black
  div.goyo-header
    padding: 12px
    button
      font-size: 18px
      font-weight: 700
      text-align: center
      display: inline-block
      padding: 4px 0
      border: none
      border: solid 3px black
      border-radius: 500px
      &.play
        width: 86px
        background: #8bff9c
        &.paused
          background: #7ae5ee
      &.only-voice,
      &.only-accomp,
      &.both,
      &.change
        width: auto
        padding: 4px 16px
