footer
  article
    div.footer-wrap
      div.footer-inner
        a(href='../license-agreement' target='_self') License Agreement
        a(href='../privacy-policy' target='_self') Privacy Policy
      div.footer-inner
        span © 2022 Supertone Inc, All Rights Reserved