// Header
header
  div.notification
    article
      p
        | GOYO for Mac now in Open Beta!
        br.only-m
        | Windows version Coming Soon :)
      div.close-noti-wrap
        button.close-noti
          img(src="../assets/images/header-btn-close.svg" alt="" width="100%")
  div.header-wrap
    a.logo-goyo(href='../' target='_self')
      img(src='../assets/images/logo-goyo-small-blue.svg' alt='')
    div
      a.how-to-use(href='../how-to-use' target='_self') HOW TO USE
      // a.updates(href='' target='_self') UPDATES
      a.get-goyo.button(href='../index.html#beta' target='') GET GOYO




// Script
script.
  document.querySelector('.close-noti').addEventListener("click", function() {
    document.querySelector('.notification').classList.add('closed');
  });